<!-- billgatesbooks.jl.html -->
<h1>Comparing masked and unmasked transmissibility (FIRST DRAFT)</h1>
<h2>Base SIR epidemic network</h2>
<p>Purple is susceptible, green is infected, yellow is removed.</p>
<img src="/img/genie/epianimation.gif" alt="gif">
<img src="/img/genie/epiplot.png" alt="png">
<h2>SIR epidemic network with 40% reduction in transmissibility</h2>
<p>Refer to "Face Masks Considerably Reduce COVID-19 Cases in Germany: A Synthetic Control Method Approach"</p>
<img src="/img/genie/epianimation-40p-red.gif" alt="gif">
<img src="/img/genie/epiplot-40p-red.png" alt="png">
