<!-- billgatesbooks.jl.html -->
<h1>Comparing masked and unmasked transmissibility (FIRST DRAFT)</h1>
<h2>SIR epidemic network, unmasked vs masked populations</h2>
<p>Purple is susceptible, green is infected, yellow is removed.</p>
<p>Refer to "Face Masks Considerably Reduce COVID-19 Cases in Germany: A Synthetic Control Method Approach"</p>
<div>
  <img src="/img/genie/epianimation-base-cropped.gif" alt="gif">
  <img src="/img/genie/epianimation-redu-cropped.gif" alt="gif">
</div>
<img src="/img/genie/epiplot-base.png" alt="png">
<img src="/img/genie/epiplot-redu.png" alt="png">
